{% extends 'main/base.html' %}
{% load static %}
{% block meta_description %}
    <meta name="description" content="Более 15 лет мы занимаемя изготовлением издедий из натурального камня. Столешницы, лестницы, раковины, камины, панно, плитка, фонтаны и многое другое из натурального камня. Изготавливаем изделия любой сложности под заказ, собственный цех в г. Астрахань. Доставка по всей России. Широкий ассортимент мрамора, гранита, оникса и других видов камня для ваших изделий. Имеем собственное производство, более 15 лет на рынке и тысячи заказов по всей России. Интерьер, экстерьер, ландшафт. Для дома и бизнеса. Гарантия на изделия. Звоните! Работаем: ежедневно 8:00-19:00 вс-выходной">
{% endblock %}

{% block main%}

    <section class="about-page">
        <div class="about-page__container container">
            <h1 class="contacts__title reset-text">О компании</h1> 
            <div class="about-page__content">
                
            </div>
        </div>
    </section>

{% endblock %}