DOMAIN=xn----7sbbrpmcrj5alb3lrb.xn--p1ai
CERTBOT_EMAIL=ii.nesterenko78@gmail.com

DJANGO_SECRET_KEY=django-insecure-x6v$1p=*8(py25eo=pw=*nty8aebe5x$(0*l6l!m7n1!20)brm
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=xn----7sbbrpmcrj5alb3lrb.xn--p1ai,www.xn----7sbbrpmcrj5alb3lrb.xn--p1ai,эстетика-камня.рф,www.эстетика-камня.рф
DJANGO_CSRF_TRUSTED_ORIGINS=https://xn----7sbbrpmcrj5alb3lrb.xn--p1ai,https://www.xn----7sbbrpmcrj5alb3lrb.xn--p1ai,https://эстетика-камня.рф,https://www.эстетика-камня.рф
DJANGO_DB_PATH=/app/data/db.sqlite3

GUNICORN_WORKERS=3
